.container {
    position: relative;
    display: flex;
    width: 100vw;
    min-height: 30vh;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* flex-wrap: wrap; */

}

.container.shop {
    flex-wrap: wrap;
}
.flexible {
    min-height: 0px;
}

.vertical {
    flex-direction:column;
}
